
  <div class="login center-block vertical-center">
    <div class="container">
      <h1><img src="./img/logo.png"></h1>
      <h3>THE CALCOLATOR</h3>
      <div class="spaceY-60"></div>
      <form role="form" (ngSubmit)="login($event, username.value, password.value)">
        <div class="input-group form-group">
          <span class="input-group-addon">
            <img src="./img/ico_user.png">
          </span>
          <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="input-group form-group">
          <span class="input-group-addon">
            <img src="./img/ico_lock.png">
          </span>
          <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <div class="spaceY-60"></div>
        <button pButton type="submit" class="btn btn-default submit" >LET'S START!</button>
      </form>
    </div>
  </div>