
  <div class="cinput center-block">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <h2 class="content">Current status
          <p>Please fill the data...</p>
        </h2>
      </div>
    </nav>

    <div class="container">
      <div class="content">

        <!-- General -->
        <div class="ui-g">
          <div class="ui-g-6"><h4>General</h4></div>
          <div class="ui-g-6"></div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg1"></i></div>
              <div class="ui-g-11"><label for="B2">Alerts/correlations per day</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B2 class="form-control lg" id="B2" (keypress)="_keyPress($event)" [(ngModel)]="input['B2']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg2"></i></div>
              <div class="ui-g-11"><label for="B3">Number of analysts</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B3 class="form-control" id="B3" (keypress)="_keyPress($event)" [(ngModel)]="input['B3']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg3"></i></div>
              <div class="ui-g-11"><label for="B4">Fully loaded cost per analyst [Analyst's annual salary]</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B4 class="form-control lg" id="B4" (keypress)="_keyPress($event)" [(ngModel)]="input['B4']"> $
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg4"></i></div>
              <div class="ui-g-11"><label for="B5">How many different products report security events to your SIEM?</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B5 class="form-control" id="B5" (keypress)="_keyPress($event)" [(ngModel)]="input['B5']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg11"></i></div>
              <div class="ui-g-11"><label for="B6">Is your SOC manned only during the day?</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B6 class="form-control" id="B6" (keypress)="_keyPress($event)" [(ngModel)]="input['B6']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg5"></i></div>
              <div class="ui-g-11"><label for="B7">How long on average does it take to deal with a single alert (minutes) <p>Enter -1 if this value is unknown</p></label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B7 class="form-control" id="B7" (keypress)="_keyPress($event)" [(ngModel)]="input['B7']"> Min
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg6"></i></div>
              <div class="ui-g-11"><label for="B8">Learning curve of new analysts (weeks)</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B8 class="form-control" id="B8" (keypress)="_keyPress($event)" [(ngModel)]="input['B8']"> Weeks
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg7"></i></div>
              <div class="ui-g-11"><label for="B9">Number of playbooks</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B9 class="form-control" id="B9" (keypress)="_keyPress($event)" [(ngModel)]="input['B9']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg8"></i></div>
              <div class="ui-g-11"><label for="B10">Number of reports per month <p>Analyst / SoC manager</p></label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B10 class="form-control" id="B10" (keypress)="_keyPress($event)" [(ngModel)]="input['B10']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg9"></i></div>
              <div class="ui-g-11"><label for="B11">How much time spent creating reports on average (hours)</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B11 class="form-control" id="B11" (keypress)="_keyPress($event)" [(ngModel)]="input['B11']"> Hours
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg10"></i></div>
              <div class="ui-g-11"><label for="B12">How much hunting do your analysts do per month (hours)</label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B12 class="form-control" id="B12" (keypress)="_keyPress($event)" [(ngModel)]="input['B12']"> Hours
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-1"><i class="ico_bg11"></i></div>
              <div class="ui-g-11"><label for="B13">how much time it takes to change shift? <p>(sharing information about open cases and such - minutes)</p></label></div>
            </div>
          </div>
          <div class="ui-g-6">
            <input type="text" #B13 class="form-control" id="B13" (keypress)="_keyPress($event)" [(ngModel)]="input['B13']"> Min
          </div>
        </div>

        <!-- Government/Multi SOC/SLA -->
        <div class="ui-g">
          <div class="ui-g-6"><h4>Government/Multi SOC/SLA</h4></div>
          <div class="ui-g-6"></div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="B16">Sharing information between SOCs - How long it takes to pass on knowledge (hours)</label></div></div>
          <div class="ui-g-6">
            <input type="text" #B16 class="form-control" id="B16" (keypress)="_keyPress($event)" [(ngModel)]="input['B16']"> Hours
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="B17">Maximum time allowed before reporting to customers (minutes)</label></div></div>
          <div class="ui-g-6">
            <input type="text" #B17 class="form-control" id="B17" (keypress)="_keyPress($event)" [(ngModel)]="input['B17']"> Min
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="B18">Maximum time allowed before reporting to government (minutes)</label></div></div>
          <div class="ui-g-6">
            <input type="text" #B18 class="form-control" id="B18" (keypress)="_keyPress($event)" [(ngModel)]="input['B18']"> Min
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="B19">Average penalty for SLA failure</label></div></div>
          <div class="ui-g-6">
            <input type="text" #B19 class="form-control lg" id="B19" (keypress)="_keyPress($event)" [(ngModel)]="input['B19']"> $
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="B20">Are there incidents that you exceed the time given by the SLA for alerts?</label></div></div>
          <div class="ui-g-6">
            <input type="text" #B20 class="form-control lg" id="B20" (keypress)="_keyPress($event)" [(ngModel)]="input['B20']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="C112">Overall improvement in Security Analyst performance via reduction in the number of alerts in the system (Grouping and identical cases) <p>Alert reduction ratio</p></label></div></div>
          <div class="ui-g-6">
            <input type="text" #C112 class="form-control" id="C112" (keypress)="_keyPress($event)" [(ngModel)]="input['C112']">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6"><div class="ui-g-12"><label for="C113">Improve investigation time using automatic WorkFlows and Playbook guidance <p>Time saved per case (%s)</p></label></div></div>
          <div class="ui-g-6">
            <input type="text" #C113 class="form-control" id="C113" (keypress)="_keyPress($event)" [(ngModel)]="input['C113']">
          </div>
        </div>
      </div>
    </div>

    <p-growl [(value)]="msgs" [life]="1000" ></p-growl>

    <p-dialog header="Created on : February 18 at 1:20pm" [(visible)]="display" [modal]="true" [width]="1200" [height]="600" [contentStyle]="{'overflow':'auto', 'height':'500px'}" [responsive]="true">

      <div class="ui-g" id="calculator1">
        <div class="ui-g-6"> <!-- Learning curve for new analysts -->
          <p-chart type="line" [data]="data1_1" [options]="data1_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- Average time spent on alerts/cases -->
          <p-chart type="bar" [data]="data1_2" [options]="data1_2_options"></p-chart>
        </div>
      </div>

      <div class="ui-g" id="calculator2">
        <div class="ui-g-6"> <!-- Playbooks -->
          <p-chart type="bar" [data]="data2_1" [options]="data2_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- Hours spent creating reports - monthly -->
          <p-chart type="bar" [data]="data2_2" [options]="data2_2_options"></p-chart>
        </div>
      </div>
      
      <div class="ui-g" id="calculator3">
        <div class="ui-g-6"> <!-- Hours spent hunting threats -->
          <p-chart type="bar" [data]="data3_1" [options]="data3_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- Analyst (virtual) amount -->
          <p-chart type="bar" [data]="data3_2" [options]="data3_2_options"></p-chart>
        </div>
      </div>

      <div class="ui-g" id="calculator4">
        <div class="ui-g-6"> <!-- Analyst shift change -->
          <p-chart type="bar" [data]="data4_1" [options]="data4_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- Time to update policies from other socs (workflow) -->
          <p-chart type="bar" [data]="data4_2" [options]="data4_2_options"></p-chart>
        </div>
      </div>

      <div class="ui-g" id="calculator5">
        <div class="ui-g-6"> <!-- Incident report time -->
          <p-chart type="bar" [data]="data5_1" [options]="data5_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- SLA average monthly penalty -->
          <p-chart type="bar" [data]="data5_2" [options]="data5_2_options"></p-chart>
        </div>
      </div>

      <div class="ui-g" id="calculator6">
        <div class="ui-g-6"> <!-- Night shift -->
          <p-chart type="bar" [data]="data6_1" [options]="data6_1_options"></p-chart>
        </div>
        <div class="ui-g-6"> <!-- Alert capacity -->
          <p-chart type="bar" [data]="data6_2" [options]="data6_2_options"></p-chart>
        </div>
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-check" (click)="generatePDF()" label="Yes">Generate PDF</button>
        </div>
      </p-footer>
    </p-dialog>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="content">
          <button pButton (click)="showDialog()" type="button" class="btn btn-default" >GENERATE</button>
        </div>
      </div>
    </nav>

  </div>
